$color-master:#996699;
$color-second:#ffc403;
$color-third:#E69AE6;
$color-fourth:#805580;
$color-white:#ffffff;


@mixin breakpoint($point) {
    @if $point == large {
      @media (max-width: 991.98px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 767.98px) { @content; }
    }
    @else if $point == small {
      @media (max-width: 575.98px)  { @content; }
    }
  }


* {
    font-family: "微軟正黑體", arial;
}

.navbar-custom{
    background-image: url(../img/header_bg.png);
    background-repeat: repeat-x;
    background-size: cover;

    .nav-item{

        padding-right: 5px;
        padding-left: 5px;

        .nav-link{
            color: $color-white;       
           font-size: 20px;
        }
        
        &:hover {
            .nav-link{
                color: $color-second;
                //opacity: 0.7;
            }
        }

        &.active{
            .nav-link{
                color:$color-second;           
            }
        }

        &.dropdown{
            .dropdown-menu{
                display: none;
            }
            &.active:hover{
                .dropdown-menu{
                    display: block;
                }
            }
        }
    }

    .navbar-toggler{
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            border-color: $color-white;
        }
    }
}

.footer{
    color: $color-white;
    background-color: $color-fourth;
    margin-top:20px;
    height: 15vh;

    @include breakpoint(small) { 
        height: 25vh;
    }

    .footer-info{
        padding: 10px 0;

        .social-icon{
            .fb{
                width: 64px;
                height: 64px;
                display: block;
                background-size: cover;
                background-image: url(../img/FB.png);
                background-repeat: no-repeat;
            }
            
        }
    }
}