$color-master:#996699;
$color-second:#ffc403;
$color-third:#E69AE6;
$color-fourth:#805580;
$color-fifth:#ff722c;
$color-white:#ffffff;
$color-sixth:#ff7272;
$color-gray:#f0efef;
$color-black:#000000;


@mixin breakpoint($point) {
    @if $point == large {
      @media (max-width: 992px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 720px) { @content; }
    }
    @else if $point == small {
      @media (max-width: 576px)  { @content; }
    }
  }


* {
    font-family: "微軟正黑體", arial;
}

body{
    background: rgb(231,247,255);
    background: linear-gradient(180deg, rgba(231,247,255,1) 0%, rgba(180,225,255,1) 78%, rgba(215,240,255,1) 100%);
    background-repeat: no-repeat;
}

.navbar-custom{
    background-image: url(../img/header_bg.png);
    background-repeat: repeat-x;
    background-size: cover;

    .nav-item{

        padding-right: 5px;
        padding-left: 5px;

        .nav-link{
            color: $color-white;       
           font-size: 20px;
        }
        
        &:hover {
            .nav-link{
                color: $color-second;
                //opacity: 0.7;
            }
        }

        &.active{
            .nav-link{
                color:$color-second;           
            }
        }

        &.dropdown{
            .dropdown-menu{
                display: none;
                //opacity: 0;
                transition: display 0s, 1s linear;
            }
            &:hover{
                .dropdown-menu{
                    display: block;
                    //opacity: 1;
                }
            }
        }
    }

    .navbar-toggler{
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            border-color: $color-white;
        }
    }
}

.footer{
    color: $color-white;
    background-color: $color-fourth;
    margin-top:20px;
    height: 15vh;

    @include breakpoint(small) { 
        height: 25vh;
    }

    .footer-info{
        padding: 10px 0;

        .social-icon{
            .fb{
                width: 64px;
                height: 64px;
                display: block;
                background-size: cover;
                background-image: url(../img/FB.png);
                background-repeat: no-repeat;
            }
            
        }
    }
}

.hot-card{
    cursor: pointer;
    .title{
        background-color: $color-third;
        color: $color-white;
        margin: 5px 5px;
    }
    .card-body{        
        .text{
            strong{
                color: $color-fifth;
                font-size: 1.2rem;
            }
        }
        .price{
            strong{
                color: $color-sixth;
                font-size: 1.5rem;
            }
        }
    }
}

.block-title{
    margin: 20px 0;
}

.notice-container{
    background-color: $color-white;
    h3{
        font-weight: bolder;
       padding: 20px 0;
    }
    ol{
        li{           
            padding-bottom: 20px;
        }
    };
}

.top-card{
    cursor: pointer;
    img{
        height: 100%;
    }
    .card-body{
        position: relative;
        height: 100%;
        .title{
            padding-bottom: 10px;
            border-bottom: 1px solid $color-fifth;
            font-weight: 800;
        }
        .text{
            padding: 15px 15px;
            font-size: 16px;
            strong{
                color: $color-sixth;
                font-size: 24px;
            }
        }
        .price{
           background-color: $color-second;
           position: absolute;
           right: 20px;
           bottom: 20px;
           border: 1px solid $color-white;
           border-radius: 10px;
           color: $color-white;
           font-size: 18px;
           //padding: 10px 20px;

           @include breakpoint(medium) { 
            right: 10px;
            bottom: 5px;
            font-size: 12px;
            padding: 0 20px;
           }

           @include breakpoint(small) { 
            right: 10px;
            bottom: 5px;
            font-size: 12px;
            padding: 0 20px;
           }
           strong{
            color: $color-sixth;
            font-size: 24px;
           }
        }
    }
    &:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.other-card{
    cursor: pointer;
    .card-header{
        font-size: larger;
        font-weight: 700;
        a{
            color: $color-black;
        }
    }
    .card-body{
        strong{
            color: $color-fifth;
            font-size: 24px;
        }
    }
    .card-footer{
        strong{
            color: $color-fifth;
            font-size: 24px;
        }
    }
    &:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
}