@charset "UTF-8";
* {
  font-family: "微軟正黑體", arial;
}

body {
  background: #e7f7ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7f7ff), color-stop(78%, #b4e1ff), to(#d7f0ff));
  background: linear-gradient(180deg, #e7f7ff 0%, #b4e1ff 78%, #d7f0ff 100%);
  background-repeat: no-repeat;
}

.navbar-custom {
  background-image: url(../img/header_bg.png);
  background-repeat: repeat-x;
  background-size: cover;
}

.navbar-custom .nav-item {
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-custom .nav-item .nav-link {
  color: #ffffff;
  font-size: 20px;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #ffc403;
}

.navbar-custom .nav-item.active .nav-link {
  color: #ffc403;
}

.navbar-custom .nav-item.dropdown .dropdown-menu {
  display: none;
  -webkit-transition: display 0s, 1s linear;
  transition: display 0s, 1s linear;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-custom .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #ffffff;
}

.footer {
  color: #ffffff;
  background-color: #805580;
  margin-top: 20px;
  height: 15vh;
}

@media (max-width: 576px) {
  .footer {
    height: 25vh;
  }
}

.footer .footer-info {
  padding: 10px 0;
}

.footer .footer-info .social-icon .fb {
  width: 64px;
  height: 64px;
  display: block;
  background-size: cover;
  background-image: url(../img/FB.png);
  background-repeat: no-repeat;
}

.hot-card .title {
  background-color: #E69AE6;
  color: #ffffff;
  margin: 5px 5px;
}

.hot-card .card-body .text strong {
  color: #ff722c;
  font-size: 1.2rem;
}

.hot-card .card-body .price strong {
  color: #ff7272;
  font-size: 1.5rem;
}

.block-title {
  margin: 20px 0;
}

.notice-container {
  background-color: #ffffff;
}

.notice-container h3 {
  font-weight: bolder;
  padding: 20px 0;
}

.notice-container ol li {
  padding-bottom: 20px;
}

.top-card {
  cursor: pointer;
}

.top-card img {
  height: 100%;
}

.top-card .card-body {
  position: relative;
  height: 100%;
}

.top-card .card-body .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ff722c;
  font-weight: 800;
}

.top-card .card-body .text {
  padding: 15px 15px;
  font-size: 16px;
}

.top-card .card-body .text strong {
  color: #ff7272;
  font-size: 24px;
}

.top-card .card-body .price {
  background-color: #ffc403;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
}

@media (max-width: 720px) {
  .top-card .card-body .price {
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .top-card .card-body .price {
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    padding: 0 20px;
  }
}

.top-card .card-body .price strong {
  color: #ff7272;
  font-size: 24px;
}

.top-card:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.other-card {
  cursor: pointer;
}

.other-card .card-header {
  font-size: larger;
  font-weight: 700;
}

.other-card .card-header a {
  color: #000000;
}

.other-card .card-body strong {
  color: #ff722c;
  font-size: 24px;
}

.other-card .card-footer strong {
  color: #ff722c;
  font-size: 24px;
}

.other-card:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */